---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";

import { BLOG_TITLE, BLOG_DESCRIPTION } from "../../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => (b.data.pubDate?.valueOf() || 0) - (a.data.pubDate?.valueOf() || 0),
);

const recommends = (await getCollection("articles")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title={BLOG_TITLE} description={BLOG_DESCRIPTION}>
  <div>
    <div
      class="border-theme container m-auto flex w-full items-center justify-center border-x p-12 sm:justify-start"
    >
      <h1 class="font-cursive border-theme text-3xl font-semibold">Blog</h1>
      <a
        href="/rss.xml"
        class="border-theme text-muted ml-auto border-2 p-1 hover:bg-stone-100 hover:text-stone-950 hover:shadow-md hover:dark:bg-stone-700 hover:dark:text-stone-100"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
          ><path
            d="M3 3C12.9411 3 21 11.0589 21 21H18C18 12.7157 11.2843 6 3 6V3ZM3 10C9.07513 10 14 14.9249 14 21H11C11 16.5817 7.41828 13 3 13V10ZM3 17C5.20914 17 7 18.7909 7 21H3V17Z"
          ></path></svg
        ></a
      >
    </div>
  </div>
  <div>
    <section
      class="border-theme relative container m-auto flex h-fit w-full flex-col items-start border-x p-0 md:flex-row"
    >
      <ul class="grid w-full grid-cols-1 lg:grid-cols-2">
        {
          posts.map((post) => (
            <li class="border-theme group border-b hover:z-1 hover:bg-stone-100 hover:shadow-xl lg:odd:border-r dark:shadow-stone-950/75 hover:dark:bg-stone-800">
              <a href={`/blog/${post.id}/`} class="flex h-full w-full flex-col">
                <div class="aspect-2/1">
                  <img
                    width={800}
                    height={400}
                    src={post.data.heroImage}
                    alt={post.data.title}
                  />
                </div>
                <div class="flex flex-col gap-2 p-4 pb-6">
                  <p class="text-muted text-sm">
                    {post.data.pubDate ? (
                      <FormattedDate date={post.data.pubDate} />
                    ) : (
                      "No Date"
                    )}
                  </p>
                  <h4 class="line-clamp-1 text-xl font-bold group-hover:text-blue-600 group-hover:dark:text-blue-400">
                    {post.data.title}
                  </h4>
                  <p class="line-clamp-3">{post.data.description}</p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <div
        class="border-theme relative flex h-full w-full flex-col md:w-sm md:border-l xl:w-md"
      >
        <div class="bg-pattern absolute inset-0 -z-10 h-full"></div>

        <div
          class="border-theme bg-theme flex items-center gap-3 border-b p-3 text-xl font-semibold"
        >
          Recommends
          <div title="Recommended articles or videos from my regular browsing">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-4"
              ><path
                d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 9.5C12.8284 9.5 13.5 8.82843 13.5 8C13.5 7.17157 12.8284 6.5 12 6.5C11.1716 6.5 10.5 7.17157 10.5 8C10.5 8.82843 11.1716 9.5 12 9.5ZM14 15H13V10.5H10V12.5H11V15H10V17H14V15Z"
              ></path></svg
            >
          </div>
        </div>

        <ul class="grid grid-cols-2 md:grid-cols-1">
          {
            recommends.slice(0, 10).map((rec) => (
              <li class="border-theme group bg-theme border-r border-b last:border-b-0 hover:z-1 hover:bg-stone-100 hover:shadow-xl md:border-r-0 dark:shadow-stone-950/75 hover:dark:bg-stone-800">
                <a
                  href={rec.data.link}
                  class="flex h-full w-full flex-col gap-1 p-3"
                  title={rec.data.description}
                  target="_blank"
                  rel="noopener"
                >
                  <div class="text-muted flex items-center text-xs">
                    <FormattedDate date={rec.data.pubDate} />
                    <div class="ml-auto">
                      {rec.data.type === "article" ? (
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          width="16"
                          height="16"
                          fill="currentColor"
                        >
                          <path d="M20 22H4C3.44772 22 3 21.5523 3 21V3C3 2.44772 3.44772 2 4 2H20C20.5523 2 21 2.44772 21 3V21C21 21.5523 20.5523 22 20 22ZM7 6V10H11V6H7ZM7 12V14H17V12H7ZM7 16V18H17V16H7ZM13 7V9H17V7H13Z" />
                        </svg>
                      ) : (
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          width="16"
                          height="16"
                          fill="currentColor"
                        >
                          <path d="M3 3.9934C3 3.44476 3.44495 3 3.9934 3H20.0066C20.5552 3 21 3.44495 21 3.9934V20.0066C21 20.5552 20.5551 21 20.0066 21H3.9934C3.44476 21 3 20.5551 3 20.0066V3.9934ZM10.6219 8.41459C10.5562 8.37078 10.479 8.34741 10.4 8.34741C10.1791 8.34741 10 8.52649 10 8.74741V15.2526C10 15.3316 10.0234 15.4088 10.0672 15.4745C10.1897 15.6583 10.4381 15.708 10.6219 15.5854L15.5008 12.3328C15.5447 12.3035 15.5824 12.2658 15.6117 12.2219C15.7343 12.0381 15.6846 11.7897 15.5008 11.6672L10.6219 8.41459Z" />
                        </svg>
                      )}
                    </div>
                  </div>
                  <div class="line-clamp-2 font-bold group-hover:text-blue-600 group-hover:dark:text-blue-400">
                    {rec.data.title}
                  </div>
                  <div class="text-muted line-clamp-1 text-sm">
                    {rec.data.link}
                  </div>
                </a>
              </li>
            ))
          }
        </ul>

        {
          recommends.length > 10 && (
            <div>
              <a
                href="/recommends"
                class="border-theme bg-theme flex justify-center gap-3 border-b p-3 text-sm font-semibold hover:bg-stone-100 hover:shadow-md dark:shadow-stone-950/75 hover:dark:bg-stone-800"
              >
                More...
              </a>
            </div>
          )
        }
      </div>
    </section>
  </div>
</BaseLayout>
