---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

// JetBrains Mono
import "@fontsource-variable/jetbrains-mono";
import jetbrainsMonoWoff2 from "@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2";
// Victor Mono
import "@fontsource-variable/victor-mono/wght-italic.css";
import victorMonoWoff2 from "@fontsource-variable/victor-mono/files/victor-mono-latin-wght-italic.woff2";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description = SITE_DESCRIPTION,
  image = "/blog-placeholder-1.jpg",
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href={new URL("rss.xml", Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Preload Fonts -->
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href={jetbrainsMonoWoff2}
  crossorigin="anonymous"
/>
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href={victorMonoWoff2}
  crossorigin="anonymous"
/>

<!-- RSS -->
<link
  rel="alternate"
  type="application/rss+xml"
  title="Anirudh Sylendranath's Blog"
  href={new URL("rss.xml", Astro.site)}
/>

<style>
  @media screen and (prefers-reduced-motion: no-preference) {
    @view-transition {
      navigation: auto;
    }
  }
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);

  // Cheeky ascii art
  console.info(`
                  .:*############*-.
              :+##*+:..=: .. .   :+*##*:
           :*#*-   *:.*+*+#*+#*=*#++ .:*#*-
         =##:  -+:  * -..:=+-::**.+*:= : .*#+
       =#*.-*++*++  .+*#######**+.  - =***:.*#+
     .##  =*:*: .*##################*. =.*+* .*#:
    -#+ =*-*- +#####+:          .+*####= -=*== =#+
   =#: ++*= +####=                  -*###- ==*- :#*
  +#-=.= ..####-                      .###* ..**-:#*
 :#= =.*-:###*                          +###.  :*.:#=
 ## .=*=.###*                            -###.:**: *#
-#:.*+* ####++++++++++++++++++++++++++++++*##*+++*+*#*+=:
+#:**+::##################################################+
*# .-=.                                                .###+
## +*#.+##*      *#+*#+        =#**#*                   :###
*# .:= =##*                   .      .                 .*##+
+#.-*=::###. *###########################: ###############+
-#:.*** ###* -####*******************###* -##*******#**=:
 ## .**-.###= -###*                =###* .###.:*+= *#
 :#=+*.--=###=  #####.           *####- .###.     -#=
  +#-=: .:-###*. -#######=-:-*######+  +###.. :*+:#*
   +#-=+-*+ *###*.  =*###########+.  +###+ :+++:-#*
    =#+ ==..=.*####+:   .::::.   .+####* -*= :==#+
     .##. ==*+- =#######******#######-  =++*..*#:
       =##. *++*+- .+###########*+  -++=*+. *#+
         +##: .*+ ==-*=... . ...+#+**=*. :*#*
           -*#*-  ==++.*#* +:.+*--=:: :*#*-
              :+##*+-.   . +- = .-+*##*:
                  .-*############*-.
  `);
  console.log(
    "%cI thought what I'd do was, I'd pretend I was one of those deaf-mutes.",
    "font-size:large",
  );
</script>
